
.class2.class3 {
 background-color: red;
}
h1 {
    color: red;
}
#id1 {
    background-color: aquamarine;
}
div {
    background-color: aquamarine;
}
a{
    color: yellowgreen;
}
p {
    background: green;
  }